$black: #222222;
$black-light: #232323;
$blue: #165fc5;
$gray: #cccccc;
$red: #bf0f0f;
$green: #b9c92f;
$yellow: #fdcd06;
$white: #eeeeee;

$font-small: 12px;
$font-base: 16px;

$border-radius: 2px;

$margin-sm: 10px;
$margin-md: 20px;
$margin-lg: 40px;

$padding-xs: 5px;
$padding-sm: 10px;
$padding-md: 20px;
$padding-lg: 40px;
